<section class="row px-1 pb-4 align-items-center text-left">

  <div class="col-md-2">
    <mat-form-field>
      <mat-label>Miembros asociados</mat-label>
      <mat-select
        [(ngModel)]="filteredUsers"
        (selectionChange)="applyFilters()"
      >
        <mat-option
          *ngFor="let user of users"
          [value]="user.member_id"
          >{{ user.full_name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-sm" *appPolicy='["public"]'>
    <button mat-raised-button color="primary" (click)="openForm()" *ngIf="checkMemberId()">
      <mat-icon class="button-icon-mr">library_add </mat-icon>Agregar entrada
    </button>
  </div>

</section>