<app-page-title [title]="title"></app-page-title>
<app-loader></app-loader>
<app-statements-actions
  (filtersEvent)="applyFilters($event)"
></app-statements-actions>
<section class="row px-1 pb-4 align-items-center text-left">
  <div class="col-md-12 summary" *ngIf="summary.length>0">
    <h2>Resumen general de cuenta</h2>
    <p><label class="label">Aporte individual:</label> <strong>{{summary[0].entry_amount_formatted}}</strong></p>
    <p><label class="label">Aporte patronal:</label> <strong>{{summary[0].company_match_amount_formatted}}</strong></p>
    <p><label class="label">Aporte total:</label> <strong>{{summary[0].total_amount_formatted}}</strong></p>
  </div>
</section>
<app-data-table
  *ngIf="filteredStatements"
  [dataList]="filteredStatements"
  [columns]="columns"
  class="statements-table"
></app-data-table>
