<h2 mat-dialog-title><mat-icon class="button-icon-mr">person_add</mat-icon>Miembro Asociado</h2>
<mat-dialog-content>
  <form [formGroup]="userForm">

    <section class="row align-items-center justify-content-center">

      <div class="col-md-12 col-sm-1">
        <mat-form-field class="w-100 p-2">
          <mat-label>Nombre completo</mat-label>
          <input matInput formControlName="full_name" autocomplete="off" />
        </mat-form-field>
      </div>
  
      <div class="col-md-12 col-sm-1">
        <mat-form-field class="w-100 p-2">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="email" autocomplete="off" />
          <mat-error *ngIf="userForm.controls['email'].hasError('required')"
            >Email is required
          </mat-error>
          <mat-error *ngIf="userForm.controls['email'].hasError('email')"
            >Check email format
          </mat-error>
          <mat-error *ngIf="userForm.controls['email'].hasError('maxLength')"
            >Maximum number of characters allowed</mat-error
          >
        </mat-form-field>
      </div>

      <div class="col-md-12 col-sm-1">
        <mat-form-field class="w-100 p-2">
          <mat-label>Correo electrónico personal</mat-label>
          <input matInput formControlName="personal_email" autocomplete="off" />
        </mat-form-field>
      </div>

      <div class="col-md-6 col-sm-1">
        <mat-form-field class="w-100 p-2">
          <mat-label>Cédula de Identidad</mat-label>
          <input matInput formControlName="id" autocomplete="off" />
        </mat-form-field>
      </div>

      <div class="col-md-6 col-sm-1">
        <mat-form-field class="w-100 p-2">
          <mat-label>Fecha de afiliación</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="initial_date"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-6 col-sm-1" *ngIf="!userEdit">
        <mat-checkbox formControlName="account_access" class="w-100 p-2"
          >Acceso a cuenta</mat-checkbox
        >
      </div>
      <div class="col-md-6 col-sm-1" *ngIf="!userEdit">
        <mat-form-field class="w-100 p-2">
            <mat-label>Junta directiva</mat-label>
            <input type="text" matInput 
                [formControl]="typeControl" 
                [matAutocomplete]="autoTypeName" />
            <mat-autocomplete #autoTypeName="matAutocomplete" [displayWith]="displayType">
                <mat-option 
                    *ngFor="let t of filteredType | async" 
                    [value]="t"
                    (click)="onChangeEvent(t)"
                >{{ t.type }}</mat-option>
            </mat-autocomplete>
            <mat-error 
                *ngIf="userForm.controls['admin'].hasError('required')"
            >La fecha de registro es obligatoria</mat-error>
        </mat-form-field>
      </div>
    </section>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button
    *ngIf="!readOnly"
    mat-flat-button
    color="primary"
    [disabled]="!userForm.valid"
    (click)="onSubmit()"
  >
    Submit
  </button>
</mat-dialog-actions>
