<app-page-title [title]="title"></app-page-title>
<app-loader></app-loader>
<app-individualstatements-actions
  (filtersEvent)="applyFilters($event)"
  (newIndividualStatementEvent)="createIndividualStatement($event)"
></app-individualstatements-actions>
<div id="member_id"></div>
<ng-container *ngIf="displaySummary">
  <section class="row px-1 pb-4 align-items-center text-left">
    <div class="col-md-12 summary" *ngIf="summary.length>0">
      <h2>Resumen de estado de cuenta</h2>
      <p><label class="label">Miembro No.:</label> <strong>{{summary[0].member_id}}</strong></p>
      <p><label class="label">Miembro asociado:</label> <strong>{{summary[0].full_name}}</strong></p>
      <p><label class="label">Aporte individual:</label> <strong>{{summary[0].entry_amount_formatted}}</strong></p>
      <p><label class="label">Aporte patronal:</label> <strong>{{summary[0].company_match_amount_formatted}}</strong></p>
      <p><label class="label">Aporte total:</label> <strong>{{summary[0].total_amount_formatted}}</strong></p>
      <p><label class="label">Último aporte:</label> <strong>{{summary[0].entry_date}}</strong></p>
    </div>
  </section>
  <app-data-table
    *ngIf="individualstatements"
    [dataList]="individualstatements"
    [columns]="columns"
    (updateEvent)="updateIndividualStatement($event)"
    (deleteEvent)="deleteIndividualStatement($event)"
    class="individualstatements-table"
  ></app-data-table>
</ng-container>
