.admin {
    text-align: left;
}
    .admin .body {
        text-align: left;
        max-width: 98%;
        margin: 0 auto;
        padding: 0 0 10px 15px;
    }
dt {
    color: #555;
    font-weight: 200;
}
dd {
    font-size: 140%;
    padding-bottom: 20px;
}
div.summary {
    padding: 0 0 10px 20px;
}
.label {
    width: 200px;
}