<app-page-title [title]="title"></app-page-title>
<h3><strong>Datos Legales</strong></h3>
<p>ASOCIACION SOLIDARISTA DE COLABORADORES DE 3-101-664223 - <strong>ASOPROX</strong>
    <br/>Cédula jurídica 3-002-768319
    <br/>Registrada el día 18 de Septiembre de 2018
    <br/>TOMO: 6, FOLIO: 68, ASIENTO: 6565. Número de Expediente: 3246-AS.</p>
<hr/>
<h3><strong>Página web (Pública)</strong></h3>
<p>URI: http://asoprox.com/admin<br/>Usuario: administrator<br/>Contraseña: A$0pr)equis</p>
<hr/>
<h3><strong>Correo electrónico</strong></h3>
<p>URI: http://mail.google.com<br/>Usuario: asoproxcr<br/>Contraseña: A$0pr)equis</p>
<hr/>
<h3><strong>Dominio</strong></h3>
<p><strong>asprox.com</strong> se encuentra registrado con GoDaddy.com con vencimiento al día <strong>23 de junio</strong> de cada año. Punto de contacto: Alberto Hering.</p>
<hr/>