<app-page-title [title]="title"></app-page-title>
<h3><strong>Datos Legales</strong></h3>
<blockquote>
<p><strong>ASOCORE</strong>
    <br/>Cédula jurídica 3-002-XXXXXX
    <br/>Registrada el día XX de XXXX de 2022
    <br/>TOMO: X, FOLIO: XX, ASIENTO: XXXX. Número de Expediente: XXXX.</p>
</blockquote>
<hr/>
<h3><strong>Página web (Pública)</strong></h3>
<blockquote>
<p><label class="label">URI:</label>http://asocore.com/admin<br/><label class="label">Usuario:</label>administrator<br/><label class="label">Contraseña:</label> XXXXXX</p>
</blockquote>
<hr/>
<h3><strong>Correo electrónico</strong></h3>
<blockquote>
<p><label class="label">URI: </label>http://mail.google.com<br/><label class="label">Usuario: </label>asocore<br/><label class="label">Contraseña: </label>XXXXXX</p>
</blockquote>
<hr/>
<h3><strong>Dominio</strong></h3>
<blockquote>
<p><strong>asocore.com</strong> se encuentra registrado con GoDaddy.com con vencimiento al día <strong>XX de XXXX</strong> de cada año. Punto de contacto: XXXXXX.</p>
</blockquote>
<hr/>