<h2 mat-dialog-title><mat-icon class="button-icon-mr">public</mat-icon>Estado de cuenta individual</h2>
<mat-dialog-content>
  <form [formGroup]="individualstatementForm">
    <section class="row align-items-center justify-content-center">
      <div class="col-md-3 col-sm-1">
        <mat-form-field class="w-100 p-2">
          <mat-label>Code</mat-label>
          <input 
            matInput 
            formControlName="member_id" 
            autocomplete="off" 
            onkeyup="this.value = this.value.toUpperCase();" 
          />
          <mat-error *ngIf="individualstatementForm.controls['member_id'].hasError('required')"
            >Code is required
          </mat-error>
          <mat-error *ngIf="individualstatementForm.controls['member_id'].hasError('maxLength')"
            >Two characters are required
          </mat-error>
          <mat-error *ngIf="individualstatementForm.controls['member_id'].hasError('minLength')"
            >Two characters are required
          </mat-error>
        </mat-form-field>
      </div>      <div class="col-md-6 col-sm-1">
        <mat-form-field class="w-200 p-2">
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="full_name"
            autocomplete="off"
            onblur="this.value=this.value.charAt(0).toUpperCase() + this.value.slice(1);"
          />
          <mat-error *ngIf="individualstatementForm.controls['full_name'].hasError('required')"
            >IndividualStatement Name is required
          </mat-error>
          <mat-error *ngIf="individualstatementForm.controls['full_name'].hasError('maxLength')"
            >Maximum number of characters allowed
          </mat-error>
        </mat-form-field>
      </div>
    </section>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="
      !individualstatementForm.valid
    "
    (click)="onSubmit()"
  >
    Submit
  </button>
</mat-dialog-actions>
