<h2 mat-dialog-title><mat-icon class="button-icon-mr">person_add</mat-icon>Miembro Asociado</h2>
<mat-dialog-content>
  <form [formGroup]="individualstatementForm">

    <section class="row align-items-center justify-content-center">

      <div class="col-md-12 col-sm-1">
        <mat-form-field class="w-100 p-2">
          <mat-label>Miembro Asociado ID</mat-label>
          <input matInput formControlName="member_id" autocomplete="off" />
        </mat-form-field>
      </div>
  
      <div class="col-md-12 col-sm-1">
        <mat-form-field class="w-100 p-2">
          <mat-label>Monto de aporte</mat-label>
          <input matInput formControlName="entry_amount" autocomplete="off" />
        </mat-form-field>
      </div>

      <div class="col-md-6 col-sm-1">
        <mat-form-field class="w-100 p-2">
          <mat-label>Fecha de aporte</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="entry_date"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

    </section>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!individualstatementForm.valid"
    (click)="onSubmit()"
  >
    Submit
  </button>
</mat-dialog-actions>
